env/
.vscode/
__pycache__/
# NOTE: Do NOT put "config.json" in the gitignore. It doesn't contain any sensitive
# information and it will make it easier for everyone if it's pushed to repo during
# development.